<%= form_for @student, :html => { :class => 'form-horizontal' } do |f| %>
<div class="control-group">
	<%= f.label :name, :class => 'control-label' %>
	<div class="controls">
		<%= f.text_field :name, :class => 'text_field' %>
	</div>
</div>
<div class="control-group">
	<%= f.label :born_date, :class => 'control-label' %>
	<div class="controls">
		<%= f.text_field :born_date, :class => 'date_select test', 'data-behaviour' => 'datepicker' %>

	</div>
</div>
<div class="control-group">
	<%= f.label 'Gênero', :class => 'control-label' %>
	<div class="controls">
		<%= f.enum_select :gender, :class => 'chosen_field' %>
	</div>
</div>

<div class="control-group">
	<%= f.label 'Responsáveis', :class => 'control-label' %>
	<div class="controls">

		<%= select_tag :sponsors, options_for_select( Sponsor.all.map { |s| [s.name, s.id] }, 
				@student.sponsors.map  { |j| j.id } ), 
				include_blank: true, :multiple => true, :style => 'width:90%;height:5%;display:none;', 
				:class => 'chosen_field'
		%>
 
		<a href="/sponsors/modal.html" role="button" class="btn" data-toggle="modal" data-target="#new-sponsor">Adicionar</a>
	</div>
</div>		
<div class="control-group">
	<%= f.label 'Responsável Financeiro', :class => 'control-label' %>
	<div class="controls">


		<%= select_tag :financial_sponsor_id, 
			options_for_select( 
				@student.sponsors.map { |s| [s.name, s.id] }, 
				[@student.financial_sponsor.nil? ? '' : '#@student.financial_sponsor.id'])
		%>
	</div>
</div>



<div class="form-actions">
	<%= f.submit nil, :class => 'btn btn-primary' %>
	<%= link_to t('.cancel', :default => t("helpers.links.cancel")),
	students_path, :class => 'btn' %>
</div>
<% end %>

<div id="new-sponsor" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
